.offers{
    width: 80%;
    height: 60vh;
    margin: auto;
    display: flex;
    padding: 0 140px;
    padding-bottom: 150px;
    padding-top: 0px;
    background: linear-gradient(180deg, #2c282c 0%, #8a8b8a22 100%);
    margin-bottom: 70px;
}
.offers-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
.offers-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 282px;
    height: 80px;
    border-radius: 35px;
    background: #655656;
    color: white;
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-left button:hover{
    transition: 0.5s;
    transform: scale(80%);
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10%;
    
}
.offers-right{
    width: 500px;
}
@media(max-width:1280px){
    .offers{
        padding: 80px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 18px;
    }
    .offers-right img{
        width: 250px;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
    /* .offers-right */

}
@media(max-width:1024px){
    .offers{
        padding: 70px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 18px;
    }
    .offers-right img{
        width: 250px;
    }
    .offers-left button{
        width: 200px;
        height: 40px;
        font-size: 16px;
    }

}
@media(max-width:800px){
    .offers{
        padding: 60px;
    }
    .offers-left h1{
        font-size: 25px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-right img{
        width: 200px;
    }
    .offers-left button{
        width: 180px;
        height: 30px;
        font-size: 14px;
    }

}
@media(max-width:500px){
    .offers{
         width: 85%;
        height: 25vh;
        padding: 50px;
    }
    .offers-left h1{
        font-size: 16px;
    }
    .offers-left p{
        font-size: 10px;
    }
    .offers-right img{
        width: 100px;
    }
    .offers-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }

}

