
.product-display{
    gap: 10px;
    display: flex;
    margin: 0px 40px;
    margin-bottom: 50px;
}
.product-display-left{
    display: flex;
    gap: 2px;
}
.product-display-img-list{
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-display-img-list img {
    height: 163px;

}
.product-display-main-img{
    width: 550px;
    height: 700px;
}
.product-display-right{
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
}
.product-display-right h1{
    color: #302e2e;
    font-size: 30px;
    font-weight: 700;
}
.product-display-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #c1c1c1;
    font-size: 20px;
}.product-display-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}
.product-display-right-price-old{
    color: #f1f1f1;
    text-decoration: line-through;

}
.product-display-right-price-new{
    color: #ff4141;
}

.product-display-right-size h1{
    margin-top: 30px;
    color: #545454;
    font-size: 20px;
    font-weight: 600;

}
.product-display-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.product-display-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: solid 1px #ebebeb;
    cursor: pointer;
    border-radius: 3px;
}
.product-display-right button{
    padding: 20px 40px;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background: #ff4141;
    margin-bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.product-display-right-category{
    margin-top: 1px;

}
.product-display-right-category span{
    font-weight: 600;
}
@media(max-width:1280px){
    .product-display{
        margin: 0px 60px;
    }
    .product-display-left{
        gap: 10px;
    }
    .product-display-img-list{
       gap: 10px;
    }
    .product-display-img-list img{
        height: 120px;
    }
    .product-display-main-img{
        width: auto;
        height: 510px;
    }
    .product-display-right{
        margin: 0px 30px;
    }
    .product-display-right h1{
        font-size: 22px;
    }
    .product-display-right-stars{
        gap: 3px;
        font-size: 13px;
    }
    .product-display-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }
    .product-display-right-description{
        font-size: 13px;
    }
    .product-display-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .product-display-right-sizes div{
        margin-top: -20px;
        padding: 14px 20px;

    }
    .product-display-right button{
        width: 150px;
        padding: 15px 0px;
        margin-bottom:20px ;
    }
    .product-display-right-category{
        font-size: 14px;
        margin-top: -4px;
    }
}
@media(max-width:1024px){
    .product-display{
        margin: 0px 30px;
    }
    .product-display-left{
        gap: 5px;
    }

    .product-display-img-list img{
        height: 80px;
    }
    .product-display-main-img{
        height: 510px;
    }
 
.product-display-right h1{
        font-size: 22px;
    }
    .product-display-right-stars img{
       width: 15px;
    }

    .product-display-right-description{
        font-size: 12px;
    }
    .product-display-right-sizes{
        margin: 10px 0px;
    }

    .product-display-right-sizes div{
        margin-top: -10px;
        padding: 10px 16px;
        font-size: 12px;
    }
    .product-display-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom:10px ;
        font-size: 14px;
    }
    .product-display-right-category{
        font-size: 12px;

    }
}
@media(max-width:800px){
    .product-display{
        margin: 0px 10px;
        gap: 0px;
    }
    .product-display-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;

    }
    .product-display-img-list{
        flex-direction: row;
        justify-content: center;
        gap: 6px;
    }

    .product-display-img-list img{
        height: 70px;
    }
    .product-display-main-img{
        height: 350px;
    }
 
.product-display-right h1{
        font-size: 10px;
    }
    .product-display-right-stars img{
       width: 13px;
    }

    .product-display-right-description{
        font-size: 10px;
    }
    .product-display-right-size h1{
        font-size: 14px;
    }
    .product-display-right-sizes{
        margin: 10px;
        gap: 5px;
    }

    .product-display-right-sizes div{
        gap: 5px;
        padding: 4px 11px;

    }
    .product-display-right button{
        width: 100px;
        font-size: 12px;
    }
    .product-display-right-category{
        font-size: 10px;
    }
}
@media(max-width:500px){
    .product-display{
        flex-direction: column;
    }
    .product-display-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .product-display-img-list{
        flex-direction: column;
        gap: 8px;
        padding-top: -80px;
        align-items: center;
        justify-content: center;
    }
    .product-display-img-list img{
        height: 75px;
    }
    .product-display-main-img{
        height: 330px;
    }
    .product-display-right{
        margin: 5px;
    }
    .product-display-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
    }
    .product-display-right-stars img{
        width: 15px;

    }
    .product-display-right-sizes{
        gap: 10px;
        margin: 20px 0px;
    }
    .product-display-right-size{
        padding: 10px 16px;
        font-size: 14px;
    }
    .product-display-right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }
    .product-display-right-category{
        font-size: 16px;
    }
}






/* @media(max-width:800px){
    .product-display{
        margin: 0px 10px;
    }
    .product-display-left{
        border: solid 1px red;
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .product-display-img{
    }

    .product-display-img-list {
        flex-direction: row;
        justify-content: flex-start;
        gap: 6px;
        border: solid 1px red;
      
    }
 
.product-display-right h1{
        font-style: 22px;
    }
    .product-display-right-stars img{
       width: 15px;
    }

    .product-display-right-description{
        font-style: 12px;
    }
    .product-display-right-sizes{
        margin: 10px 0px;
    }

    .product-display-right-sizes div{
        margin-top: -10px;
        padding: 10px 16px;
        font-style: 12px;
    }
    .product-display-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom:10px ;
        font-size: 14px;
    }
    .product-display-right-category{
        font-style: 12px;

    }
} */
